<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Node</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" >
  window.onload = function(){
    const visorMensajes = document.getElementById('visor_mensajes');
    const visorPuntaje = document.getElementById('visor_puntaje');
    var imagenes = document.getElementsByClassName('user');
    var mensaje = document.getElementById('mensaje');
    
    const socket = io();
    
    let user = JSON.parse('<%- JSON.stringify(usuario)  %>');
    if (user != undefined){
      
      let usuario = user.name;
      console.log(user);
      console.log(user.name);
      //agregaMensaje(usuario);
      visorPuntaje.replaceChildren();
      
      socket.emit('nuevo_conectado',usuario);
      
      socket.on('mensajes_externos', function (data) {
          console.log(data);
          agregaMensaje(data.user +' : '+ data.data);
      });
      socket.on('puntaje_juego', function (puntos) {
          console.log(puntos);
          agregaPuntaje(puntos);
      });
      socket.on('user_conectado', function (user) {
          agregaMensaje( user + ' conectado!!!');
      });
      socket.on('user_desconectado', function (user) {
          agregaMensaje( user + ' desconectado');
      });

      socket.on('user_escribiendo', function (user) {
          agregaMensaje( user + ' escribiendo ...');
      });

      for (let i= 0; i < imagenes.length; i++){
        imagenes[i].addEventListener('click', function(e){
          e.preventDefault();
          let puntos = e.target.getAttribute('puntos')
          //agregaMensaje(user.name + ' : hizo clic');
          //socket.emit('envio_mensaje',mensaje.value );
          socket.emit('sumo_clic',{user: usuario,puntos: puntos} );
          //mensaje.value = '';
      });
    }

      function agregaMensaje(mensaje){
          const elementoMensaje = document.createElement('div');
          elementoMensaje.innerText = mensaje;
          visorMensajes.append(elementoMensaje);
      }
      function agregaPuntaje(data){
        console.log(data);
        largo = data.users.length;
        visorPuntaje.replaceChildren();
        for (let i = 0; i < largo; i ++ ){
          const elementoPuntaje = document.createElement('div');
          elementoPuntaje.innerText = data.users[i] +':' +data.puntos[data.users[i]];
          visorPuntaje.append(elementoPuntaje);
        }
        
      }
    }
  }
  </script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <% if(usuario ){ %>
    <ul>  
      <li><a href="#home">Reglas</a></li>
      <li><a href="#news">Jugar</a></li>
      <li style="float:right"><a href="/">Salir</a></li>
    </ul>
    
    <h1>Bienvenido <%= usuario.name %></h1>
    <div id="visor_mensajes">Visor Menasjes:</div>
    <div id="visor_puntaje">Puntaje de la Partida:</div>
    <div class="lienzo ">
      <div  id="enviar">
        <img id="2" puntos="2" class="user" src="/images/nina.png" alt="Carolyn Garcia" >
        <div class="thumb-item__info">
          <h5>Carolyn Garcia</h5>
          <p>También conocida como Mountain Girl, participó junto a Jerry García(vocalista y guitarrista de Grateful Dead) del movimiento</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="3" puntos="3" class="user" src="/images/hombre.png" alt="Kent Kesey" >
        <div class="thumb-item__info">
          <h5>Kent Kesey</h5>
          <p>A partir de 1964, él y un grupo de amigos, The Merry Pranksters o los "Alegres Bromistas", fueron pioneros en la experimentación lúdica y espiritual con LSD y marihuana.</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="4" puntos="0" class="user" src="/images/gaby.png" alt="Estudiante" >
        <div class="thumb-item__info">
          <h5>Estudiante</h5>
          <p>Sigue la carrera de Lic. en TI de UTEC.</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="6" puntos="3" class="user" src="/images/mujer_morena.png" alt="Violeta Parra" >
        <div class="thumb-item__info">
          <h5>Violeta Parra</h5>
          <p>Artista, música, compositora y cantante chilena, reconocida como una de las principales folcloristas en América del Sur y divulgadora de la música popular de su país. Fue miembro de la célebre familia Parra. </p>
        </div>
      </div>
      <div  id="enviar">
        <img id="7" puntos="-5" class="user" src="/images/bigote.png" alt="Henry Kissinger" >
        <div class="thumb-item__info">
          <h5>Henry Kissinger</h5>
          <p>Secretario de estado de EE.UU, responsable del plan Cóndor para instalar las Dictaduras en América Latina</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="8" puntos="3" class="user" src="/images/carlitos.png" alt="morochas" >
        <div class="thumb-item__info">
          <h5>Neal Cassady</h5>
          <p> Ícono de la «Generación Beat» de la década de 1950 y del movimiento psicodélico de la década de 1960</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="9" puntos="-2" class="user" src="/images/moreno.png" alt="morochas" >
        <div class="thumb-item__info">
          <h5>Barack Obama</h5>
          <p>Premio Nobel de la Paz en 2009, pero no tuvo un solo día sin estar en guerra.</p>
        </div>
      </div>
      <div  id="enviar">
        <img id="5" puntos="-1" class="user" src="/images/clotilde.png" alt="morochas" >
        <div class="thumb-item__info">
          <h5>Hippie Chic</h5>
          <p>Está contra «El Sistema», vive en el este y usa Iphone </p>
        </div>
      </div>
      <div  id="enviar">
        <img id="1" puntos="1" class="user" src="/images/franchute.png" alt="morochas" >
        <div class="thumb-item__info">
          <h5>Parisien</h5>
          <p>Fue referente de las marchas del «Mayo Francés»</p>
        </div>
      </div>
    </div>
     
      
  
    <% } else{ %>
    <ul>  
      <li style="float:right"><a href="users/login">Login</a></li>
      <li style="float:right"><p>|</p></li>
      <li style="float:right"><a href="users/new">Registro</a></li>
    </ul>
    <% } %>

<footer>
  <div>
    <p>Author: Ernesto Mello</p>
  </div>
  <div>
    <img id="tecno" src="/images/TI-logo-CMYK.png" alt="tecnologo">
  </div>
  <div>
    <a href="mailto:ernesto.mello@utec.edu.uy">ernesto.mello@utec.edu.uy</a>
  </div>
  
</footer>

</body>
</html>
