<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
    
    <% if(usuario ){ %>
    <ul>  
      <li><a href="#home">Reglas</a></li>
      <li><a href="#news">Jugar</a></li>
      <li style="float:right"><a href="/">Salir</a></li>
    </ul>

    <% } else{ %>
    <ul>  
      <li style="float:right"><a href="users/login">Login</a></li>
      <li style="float:right"><a href="users/new">Registro</a></li>
    </ul>
    <% } %>



</body>
</html>
