<link rel="stylesheet" href="/css/style.css">

<body>
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
     
        <form class="login-form" action="/auth/login" method="POST">
            <input type="text" placeholder="Nombre" name="name">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Ingresar</button>
        </form>
      
    </div>
  </div>
</body>