<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tarea 1</title>
</head>
<body>
  <span>Nombre: <%= usuario.name %></span>
  <form action="/users/create" method="POST">
    <input type="text" placeholder="Nombre" name="name">
    <input type="text" placeholder="Precio" name="email">
    <input type="text" placeholder="Marca" name="password">
    <button type="submit">Submit</button>
  </form>

</body>
</html>